<section>
  <div class="container mx-auto px-4">

    <div class="flex items-center justify-between flex-wrap py-4 overflow-hidden">

      <div class="w-full md:w-4/12 bg-[#121214] p-5 rounded-3xl  " data-aos="fade-right" data-aos-offset="300"
        data-aos-easing="ease-in-sine">

        <app-image-home></app-image-home>
      </div>

      <div class="w-full md:w-8/12 md:px-5 rounded-3xl mt-5 md:mt-0" data-aos="fade-left" data-aos-offset="300"
        data-aos-easing="ease-in-sine">

        <app-about-info></app-about-info>

      </div>


    </div>


    <div class="my-10 grid grid-cols-1 md:grid-cols-2 gap-5  overflow-hidden">

      <app-experience data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine"></app-experience>

      <app-education data-aos="fade-left" data-aos-offset="300" data-aos-easing="ease-in-sine"></app-education>

    </div>

    <div class="overflow-hidden">

      <app-my-skils data-aos="fade-left" data-aos-easing="ease-in-sine"></app-my-skils>
    </div>


    <div class="overflow-hidden">

      <app-kick-start></app-kick-start>
    </div>

  </div>
</section>