<section>
  <div class="container mx-auto px-4">

    <div class="flex items-center justify-between flex-wrap py-4">

      <div class="w-full md:w-4/12 bg-[#121214] p-5 rounded-3xl  ">

        <app-image-home></app-image-home>
      </div>

      <div class="w-full md:w-8/12 md:px-5 rounded-3xl mt-5 md:mt-0">

        <app-about-info></app-about-info>

      </div>


    </div>


    <div class="my-10 grid grid-cols-1 md:grid-cols-2 gap-5">

      <app-experience></app-experience>

      <app-education></app-education>

    </div>

    <app-my-skils></app-my-skils>


    <app-kick-start></app-kick-start>

  </div>
</section>
