<section>
  <div class="container mx-auto px-4">

    <div class="flex items-center justify-between flex-wrap py-4">

      <div class="w-full md:w-4/12 bg-[#121214] p-5 rounded-3xl  ">

        <app-image-home></app-image-home>
      </div>

      <div class="w-full md:w-8/12 md:px-5 rounded-3xl mt-5 md:mt-0">

       <app-home-info></app-home-info>

        <app-my-skils></app-my-skils>
      </div>


    </div>


    <app-works-and-projects></app-works-and-projects>

    <app-kick-start></app-kick-start>

  </div>
</section>
