<div class="  bg-[#121214] px-10 p-5  rounded-3xl">

  <h1 class="text-[40px] font-normal text-white">I’m Ahmed Atef, a Front End Developer Angular.</h1>
  <p class="text-[#9f9f9f] text-[18px] font-[400] my-4">I’m an Alexandria-based front-end developer with a strong focus
    on web design, responsive interfaces, and interactive user experiences. I work with modern technologies like
    Angular, Tailwind CSS, and PrimeNG to deliver clean, fast, and user-friendly web projects.

    I have experience working on a diverse range of projects — from landing pages and business websites to full-featured
    dashboards and web applications — always aiming to blend clean code with smart, modern design.</p>

  <div class="my-5 pt-3">
     <a class="text-white py-4 px-6 border border-gray-800 rounded-2xl cursor-pointer bg-main hover:bg-[#121214]  transition-all duration-300" href="mailto:ahmedatef32003@gmail.com">Get In Touch <i class="ps-2 pi pi-inbox"></i></a>
  </div>

</div>
