<div class="border border-[rgba(255,255,255,0.1)]  p-5 px-10  rounded-xl">

  <div class="info__card my-5 pb-4 border-b border-b-[rgba(255,255,255,0.1)]">

    <div class="info__card__image   mt-3 rounded-2xl ">
      <i class="text-main pi pi-phone" style="font-size: 1.5rem;"></i>
    </div>
    <div>
      <h3 class="text-[18px] font-medium text-[#ccc]">Phone</h3>
      <p class="text-[#9f9f9f] text-[20px] font-[500]"> <a class="hover:text-main transition-colors duration-300"
          href="tel:+201278699206">+201278699206</a></p>
    </div>

  </div>


  <div class="info__card my-5">

    <div class="info__card__image   mt-3 rounded-2xl ">
      <i class="text-main pi pi-envelope" style="font-size: 1.5rem;"></i>
    </div>
    <div>
      <h3 class="text-[18px] font-medium text-[#ccc]">Email us:</h3>
      <p class="text-[#9f9f9f] text-[20px] font-[500]"> <a class="hover:text-main transition-colors duration-300"
          href="mailto:ahmedatef32003@gmail.com">ahmedatef32003&#64;gmail.com</a></p>
    </div>

  </div>


</div>
