<div class="space-y-6">
  <!-- Phone Card -->
  <div
    class="contact-icon-card flex items-center gap-5 rounded-2xl border p-5 transition-all duration-300 hover:border-main"
  >
    <div
      class="flex h-14 w-14 items-center justify-center rounded-2xl bg-main/10 text-main"
    >
      <i class="pi pi-phone text-2xl"></i>
    </div>

    <div>
      <h3 class="contact-icon-label font-medium">Phone</h3>

      <a
        href="tel:+201278699206"
        class="contact-icon-link hover:text-main transition-colors"
      >
        +20 127 869 9206
      </a>
    </div>
  </div>

  <!-- Email Card -->
  <div
    class="contact-icon-card flex items-center gap-5 rounded-2xl border p-5 transition-all duration-300 hover:border-main"
  >
    <div
      class="flex h-14 w-14 items-center justify-center rounded-2xl bg-main/10 text-main"
    >
      <i class="pi pi-envelope text-2xl"></i>
    </div>

    <div>
      <h3 class="contact-icon-label font-medium">Email</h3>

      <a
        href="mailto:ahmedatef32003@gmail.com"
        class="contact-icon-link hover:text-main transition-colors"
      >
        ahmedatef32003&amp;gmail.com
      </a>
    </div>
  </div>
</div>
