<div class="bg-[#121214] p-5 px-10 rounded-3xl">

  <h2 class="text-[22px] font-medium text-white  py-5">Education</h2>


  <div class="my__education__card flex my-5 gap-5 items-start border-b border-gray-800 pb-15">

    <div class="my__education__card__image bg-white  p-4  mt-3 rounded-2xl ">
      <i class="text-main pi pi-briefcase" style="font-size: 1.5rem;"></i>
    </div>

    <div class="my__education__card__content mt-3">
      <h3 class="text-[18px] font-medium text-[#77777d]"> 2021 - 2025</h3>
      <p class="text-[#9f9f9f] text-[20px] font-[500]">Bachelor's Degree in business Information Systems</p>
      <p class="text-[#77777d] mt-3">Higher Institute for Business and Information Systems — Alexandria, Egypt</p>
    </div>

  </div>


  <div class="my__education__card flex my-5 gap-5 items-start border-b border-gray-800 pb-15">

    <div class="my__experience__card__image bg-white  p-4  mt-3 rounded-2xl ">
      <i class="text-main pi pi-briefcase" style="font-size: 1.5rem;"></i>
    </div>

    <div class="my__experience__card__content mt-3">
      <h3 class="text-[18px] font-medium text-[#77777d]">Sep 2024 - Mar 2025</h3>
      <p class="text-[#9f9f9f] text-[20px] font-[500]">Front-End Development Diploma Route Academy — Alexandria, Egypt.
      </p>
      <p class="text-[#77777d] mt-3">Completed intensive training in front-end development, covering HTML, CSS,
        JavaScript, Bootstrap, SASS ,Jquery ,Tailwind CSS AndAngular. Focused on building modern, responsive web
        applications with clean UI/UX.
      </p>
    </div>

  </div>

</div>
