<div
  class="project-card group h-full overflow-hidden rounded-3xl border border-[var(--border)] transition-all duration-500 hover:-translate-y-2 hover:border-main hover:shadow-2xl hover:shadow-main/20"
>
  <!-- Image -->
  <div class="relative overflow-hidden">
    <img
      [src]="project().image"
      [alt]="project().name"
      class="h-60 w-full object-cover transition duration-700 group-hover:scale-105"
    />

    <div
      class="absolute inset-0 bg-gradient-to-t from-black/80 via-black/30 to-transparent"
    ></div>

    <!-- Actions -->
    <div
      class="absolute bottom-5 left-5 right-5 flex justify-between opacity-0 transition duration-500 group-hover:opacity-100"
    >
      @if (project().link) {
      <a
        [href]="project().link"
        target="_blank"
        class="rounded-xl bg-main px-4 py-2 text-sm font-medium text-white transition hover:scale-105"
      >
        Live
      </a>
      } @else {
      <span
        class="cursor-not-allowed rounded-xl bg-main/50 px-4 py-2 text-sm text-white"
      >
        Private Project
      </span>
      }

      @if (project().github) {
      <a
        [href]="project().github"
        target="_blank"
        class="rounded-xl border border-main px-4 py-2 text-sm font-medium transition hover:bg-main hover:text-white"
      >
        GitHub
      </a>
      }
    </div>
  </div>

  <!-- Content -->
  <div class="space-y-5 p-6">
    <div>
      <h3
        class="project-title text-2xl font-semibold transition-colors duration-300 group-hover:text-main"
      >
        {{ project().name }}
      </h3>

      <p class="project-description mt-3 leading-7">
        {{ project().description }}
      </p>
    </div>

    <div class="flex flex-wrap gap-2">
      @for (item of project().technologies; track item) {
      <span
        class="rounded-full border border-main/20 bg-main/10 px-3 py-1 text-xs font-medium text-main"
      >
        {{ item }}
      </span>
      }
    </div>
  </div>
</div>
