<section>
  <div class="container mx-auto px-4">
    <div class="bg-[#121214] rounded-3xl p-5 px-10">
      <h2 class="text-[20px] font-medium text-center py-5 text-[#9f9f9f]">Contact Me</h2>
      <h1 class="text-[50px] font-medium text-center py-5"> Get in Touch with Me!</h1>

      <div class="flex justify-between flex-wrap lg:flex-nowrap  gap-5">

        <div class="w-full lg:w-4/12 ">

          <app-contact-icons></app-contact-icons>
        </div>

        <div class="w-full lg:w-8/12 md:px-5">

          <app-contact-form></app-contact-form>
        </div>


      </div>

    </div>
  </div>
</section>
