<section class="my-10">
  <div class="container mx-auto">

    <div class="bg-[#121214] rounded-3xl p-5 px-10">
      <h2 class="text-[50px] font-medium text-center py-5 w-full md:w-[70%] mx-auto">Are You Ready to kickstart your
        project with a touch of
        magic?
      </h2>

      <p class="w-full md:w-[45%] mx-auto text-[#9f9f9f] font-normal text-center text-[22px] pb-7">Reach out and let's
        make it happen ✨. I'm also available for full-time or Part-time opportunities to push the boundaries of design
        and deliver exceptional work.
      </p>

      <div class="flex items-center justify-center">
        <button
        routerLink="/contact"
          class="text-white text-xl py-2 px-6 border border-gray-800 rounded-2xl cursor-pointer bg-main hover:bg-[#121214]  transition-all duration-300 ">Let's Talk  <i class="pi pi-arrow-down"></i></button>
      </div>

    </div>

  </div>
</section>
