<div >



<div class="my__image my-6 animate__animated animate__slideInDown">
    <img src="images/Ahmed Atef.jpg" alt="Ahmed Atef"
      class="w-[250px] rounded-full mx-auto drop-shadow-2xl  drop-shadow-[#eb5d3aa9] hover:scale-105 transition-all duration-500 ">
  </div>

  @if (inHome()) {
  <div class="my__info text-center ">
    <h1 class="text-white text-[40px] font-medium  my-3">Ahmed Atef</h1>

    <p class="text-[#9f9f9f]  font-normal text-[20px] w-full md:w-[80%] mx-auto my-3"> I am a Front End
      Developer Angular based in Egypt.</p>

    <div class="social__icons my-8">

      <ul class=" flex items-center justify-center space-x-8 ">
        <li class="border border-[rgba(255,255,255,0.5)] px-[12px] py-[10px] rounded-[10px] group"><a target="_blank"
            href="https://github.com/AhmedAtef32"><i
              class=" text-[rgba(255,255,255,0.5)] group-hover:text-main transition-colors duration-300 pi pi-github"
              style="font-size: 20px"></i> </a></li>
        <li class="border border-[rgba(255,255,255,0.5)] px-[12px] py-[10px] rounded-[10px] group"><a target="_blank"
            href="https://www.linkedin.com/in/ahmed-atef-19b154224"><i
              class=" text-[rgba(255,255,255,0.5)] group-hover:text-main transition-colors duration-300 pi pi-linkedin"
              style="font-size: 20px"></i> </a></li>
        <li class="border border-[rgba(255,255,255,0.5)] px-[12px] py-[10px] rounded-[10px] group"><a target="_blank"
            href="https://web.facebook.com/ahmed.atef.164052/"><i
              class=" text-[rgba(255,255,255,0.5)] group-hover:text-main transition-colors duration-300 pi pi-facebook"
              style="font-size: 20px"></i> </a></li>
        <li class="border border-[rgba(255,255,255,0.5)] px-[12px] py-[10px] rounded-[10px] group"><a target="_blank"
            href="https://www.instagram.com/ahmedd.ateff/"><i
              class=" text-[rgba(255,255,255,0.5)] group-hover:text-main transition-colors duration-300 pi pi-instagram"
              style="font-size: 20px"></i> </a></li>
      </ul>

    </div>

  </div>

  }

</div>
