<div>

  <!-- Image -->
  <div class="my-8 animate__animated animate__slideInDown">
    <img
      src="images/Ahmed Atef.jpg"
      alt="Ahmed Atef"
      class="w-[270px] md:w-[300px] mx-auto rounded-full border-4 border-main/20 shadow-2xl shadow-main/20 hover:scale-105 transition-all duration-500"
    >
  </div>

  @if (inHome()) {

  <div class="text-center">

    <h1 class="text-white text-5xl font-bold">
      Ahmed Atef
    </h1>

    <p class="text-main text-xl mt-3">
      Front-End Angular Developer
    </p>

    <!-- Social -->

    <div class="flex justify-center gap-4 mt-8">

      <a
        target="_blank"
        href="https://github.com/AhmedAtef32"
        class="w-12 h-12 rounded-xl border border-white/20 flex items-center justify-center text-gray-400 hover:text-main hover:border-main transition"
      >
        <i class="pi pi-github text-xl"></i>
      </a>

      <a
        target="_blank"
        href="https://www.linkedin.com/in/ahmed-atef-19b154224"
        class="w-12 h-12 rounded-xl border border-white/20 flex items-center justify-center text-gray-400 hover:text-main hover:border-main transition"
      >
        <i class="pi pi-linkedin text-xl"></i>
      </a>

      <a
        target="_blank"
        href="https://web.facebook.com/ahmed.atef.164052/"
        class="w-12 h-12 rounded-xl border border-white/20 flex items-center justify-center text-gray-400 hover:text-main hover:border-main transition"
      >
        <i class="pi pi-facebook text-xl"></i>
      </a>

      <a
        target="_blank"
        href="https://www.instagram.com/ahmedd.ateff/"
        class="w-12 h-12 rounded-xl border border-white/20 flex items-center justify-center text-gray-400 hover:text-main hover:border-main transition"
      >
        <i class="pi pi-instagram text-xl"></i>
      </a>

    </div>


  </div>

  }

</div>
