<div class="bg-[#121214] p-5 px-10 rounded-3xl h-full">

  <h2 class="text-[22px] font-medium text-white  py-5">Experience</h2>

  <div class="my__experience__card flex my-5 gap-5 items-start border-b border-gray-800 pb-15">

    <div class="my__experience__card__image bg-white  p-4  mt-3 rounded-2xl ">
      <i class="text-main pi pi-briefcase" style="font-size: 1.5rem;"></i>
    </div>

    <div class="my__experience__card__content mt-3">
      <h3 class="text-[18px] font-medium text-[#77777d]"> Dec 2023 - Jun 2024</h3>
      <p class="text-[#9f9f9f] text-[20px] font-[500]">UI Developer </p>
      <p class="text-[#77777d] mt-3">Worked closely with a teaching assistant to design and develop responsive website interfaces using HTML, CSS,
        and Bootstrap. Focused on clean layouts and learning the basics of front-end development through hands-on
        projects.
      </p>
    </div>

  </div>

</div>
