<div class="mb-4 bg-[#121214] px-10 py-8 rounded-3xl">

  <h2 class="text-[#9f9f9f] text-lg font-normal mb-4">
    Hello There! 👋
  </h2>

  <p class="text-4xl font-normal text-white leading-tight">
    I'm <span class="font-semibold">Ahmed</span>, a Front-End Angular Developer passionate about building modern,
    responsive, and high-performance web applications with clean, scalable, and maintainable code.
  </p>

  <div class="flex items-center gap-3 mt-8">
    <span class="size-4 rounded-full bg-green-500 animate-pulse"></span>
    <span class="text-[#9f9f9f]">Available for Full-Time Opportunities</span>
  </div>

</div>
