<section id="projects" class="my-16">
  <div class="container mx-auto px-4">

    <div class="rounded-3xl bg-[#121214] p-6 md:p-10">

      <!-- Section Header -->
      <div class="text-center mb-12">

        <h2
          class="text-4xl md:text-5xl font-bold text-white"
          data-aos="fade-down">

          Featured Projects

        </h2>

        <p
          class="mt-5 mx-auto max-w-3xl text-lg leading-8 text-[#9f9f9f]"
          data-aos="fade-up">

          Explore a selection of my front-end projects built with Angular and
          modern web technologies, focusing on performance, clean architecture,
          responsive design, and seamless user experiences.

        </p>

      </div>

      <!-- Projects -->

      <div class="grid gap-8 sm:grid-cols-2 xl:grid-cols-3">

        @for (project of projects; track project.name) {

          <app-project-card
            [project]="project"
            data-aos="zoom-in-up"
            [attr.data-aos-delay]="$index * 100"
            data-aos-duration="500">
          </app-project-card>

        }

      </div>

    </div>

  </div>
</section>
